In [10]:
import pickle
import pandas as pd 
import numpy as np

In [11]:
df = pd.read_csv('./dataset/dataset.csv')

In [12]:
df = df.fillna(0)

In [13]:
normalize_dict = {"b'0'":0, "b'1'":1 }
df['label'] = df['class'].apply(lambda x : normalize_dict[x])

In [14]:
df.pop('class')
df.pop('Unnamed: 0')

df.head(3)

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,label
0,0.202350,0.46500,0.24038,1.5171,-14.547,0.510690,0.25366,0.91816,1.15190,0.42695,...,0.13184,0.473950,0.86816,0.00024,8.5487,5.16550,107.740,3.38790,5.3440,0
1,0.030073,0.59563,0.18668,1.3382,-37.859,-0.000319,0.04167,0.67890,0.32356,0.40437,...,0.12146,0.074369,0.87235,0.00000,1.5264,0.63305,622.660,0.58619,1.2381,0
2,0.257860,0.29949,0.66519,3.2211,71.799,0.000000,0.31877,2.33200,1.67620,0.69841,...,0.16499,0.369210,0.81614,0.00000,4.3325,3.19850,65.215,5.59690,47.4660,0

In [15]:
with open('./dataset/preprocessed_dataset', 'wb') as file:
    pickle.dump(df, file)

In [19]:
best_importance = ['Attr6', 'Attr24', 'Attr27', 'Attr21', 'Attr37', 'Attr46', 'Attr34', 'Attr38', 'Attr58', 'Attr5', 'Attr16', 'Attr41', 'Attr26', 'Attr39', 'Attr55', 'Attr15', 'Attr29', 'Attr51', 'Attr42', 'Attr64', 'Attr22', 'Attr25', 'Attr59', 'Attr13', 'Attr61', 'Attr9', 'Attr57', 'Attr35', 'Attr56', 'Attr54', 'label']

best_correlation = ['Attr54', 'Attr53', 'Attr6', 'Attr64', 'Attr25', 'Attr3', 'Attr2', 'Attr51', 'Attr38', 'Attr10', 'Attr29', 'Attr55', 'Attr1', 'Attr24', 'Attr15', 'Attr41', 'Attr62', 'Attr5', 'Attr28', 'Attr35', 'Attr16', 'Attr26', 'Attr27', 'Attr18', 'Attr48', 'Attr37', 'Attr14', 'Attr7', 'Attr22', 'Attr12', 'label']

In [20]:
with open('./dataset/bi_dataset', 'wb') as file:
    pickle.dump(df[best_importance], file)

with open('./dataset/bc_dataset', 'wb') as file:
    pickle.dump(df[best_correlation], file)